#main{
    background-color: whitesmoke;
    position: relative;
}

#liste{
    position: absolute;
    top: 10px;
    left: 200px;
    height: 300px;
    width: 500px;
    overflow: scroll;
    background-color: gray;
    color: white;
    visibility: hidden;
}
input{
    position: absolute;
    left: 110px;
    border: solid red 1px;
}